.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.MealsLoading {
  text-align: center;
  color: white;
  font-family: inherit;
  font-size: 1rem;
}

.MealsError {
  text-align: center; 
  font-family: inherit;
  font-size: 2rem;
  position: relative;
  background-color: rgb(175, 28, 28);
  color: white;
  border-radius: 14px;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
